# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist.zip
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
# 代码片段不排除
!.vscode/*.code-snippets
.idea/*
!.idea/codeStyles
!.idea/jsLinters
!.idea/inspectionProfiles
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

yarn.lock
package-lock.json

components.d.ts

.git
!.gitignore
!.npmrc

*.out
.gitlab-ci.yml

lib/*

*.failed_project

.pnpm-store
vite.*.timestamp-*